.container {
    width: 80%;
}

.price-table-block {
    float: none;
    margin-bottom: 0;
    width: 100%;
}

.price-table-block:hover {
    border: 0;
}

.highlight {
    height: auto;
    margin-top: 0;
    border: 0;
    a.btn {
        margin-top: 0;
    }
}   
